/* screens: 375px, 768px and 1200px */

/* Variables */
:root {
    --ff-primary: 'Cormorant Garamond', serif;
    --fs-mobile: 1.3rem;
    --fs-ipad: 1.5rem;
    --fs-desktop: 2rem;
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

h2 {
    font-size: 1.5rem;
}

p,
a,
.item li,
.search input {
    font-size: var(--fs-mobile)
}

footer {
    background: black;
    padding: 0;
    bottom: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: block;
    margin: auto;
    max-width: 960px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo logo"
                         "search menu";
    background: black;
}

.main-logo {
    padding: 1rem;
    grid-area: logo;
}

#logo-img {
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px; 
}

.hamburger {
    grid-area: menu;
    margin: 1rem 1.5rem;
    justify-self: end;
}

.fas.fa-bars.fa-2x {
    color: white;
}

.fas.fa-bars.fa-2x:hover {
    cursor: pointer;
}

.main-nav {
    display: none;
}

.search {
    display: flex;
    grid-area: search;
    /* justify-self: end; */
    /* align-items: center; */
    background: white;
    border-radius: 10px;
    margin: 1rem 1.5rem;
    padding: 0.1rem 0.5rem 0.1rem 0.1rem;
    max-width: 10rem;
    max-height: 2rem;
    justify-self: left;
}

.fas.fa-search {
    color: black;
    margin-top: 0.3rem;
    font-size: 1.5rem;
}

.search input {
    border: none;
    outline: none;
    max-width: 7rem;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    background: rgb(17, 17, 17);
    width: 60%;
    height: 100vh;
    color: white;
    text-align: center;
}

.mobile-nav-list {
    list-style: none;
    padding-left: 0;
    margin: 10rem 1.5rem 0 1.5rem;
}

.mobile-nav-list li {
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    /* border: 1px red solid; */
    margin: 1rem 0;
    padding: 1rem;
    letter-spacing: 0.1rem;
    font-size: var(--fs-mobile);
}

.mobile-nav-list li:hover {
    background: gray;
}

.mobile-nav-list span {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.open {
    display: block;
}

.slider {
    background: black;
    margin-top: 0;
    padding: 0;
}

#slider {
    width: 100%;
}

.slider p {
    margin: 0;
    color: #888888;
    padding: 1rem;
    font-size: var(--fs-mobile);
}

.slider-social-icons,
.contact-social-icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.slider-social-icons img,
.contact-social-icons img {
    padding: 0.5rem;
    cursor: pointer;
    max-width: 3rem;
    max-height: 3rem;
}

.slider-social-icons img:hover,
.contact-social-icons img:hover {
    transform: scale(1.1);
}

.side-bar {
    display: flex;
    flex-direction: column;
    background: rgba(218, 216, 216, 1);
    padding: 1rem 0;
}

.side-bar-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title item"
                         "link item";
}

.side-bar h2 {
    grid-area: title;
    align-self: center;
    margin: 0 0.5rem 0.5rem 1rem;
    font-weight: 400;
}

.side-bar .item {
    grid-area: item;
    margin: 0 1rem;
}

.side-bar .item p {
    margin: 0.5rem 0;
}

.side-bar a {
    grid-area: link;
    margin: 0 1rem;
    text-decoration: none;
    color: rgb(3, 145, 180);
    cursor: pointer;
}

.side-bar p {
    grid-area: link;
}

.side-bar a:hover {
    filter: brightness(65%);
}

.side-bar-items p {
    margin: 0 0 0 1rem;
}

.side-bar-items ul {
    align-self: center;
    list-style: none;
    padding: 0;
}

.item li {
    margin: 0.5rem 0 0 0;
    font-size: var(--fs-mobile);
}

.item h3 {
    margin: 0.2rem 0;
    font-size: 1.5rem;
}

.news {
    margin: 2rem 1rem;
}

.news-article {
    display: flex;
    margin-top: 1rem;
    border-width: 0.2rem;
    border-style: solid;
    border-image: linear-gradient(to left, #fff, #e2e2e2, #fff) 1;
    border-top: none;
    border-left: none;
    border-right: none;
}

.news-articles-images {
    padding: 1rem 0;
}

.news-article-image {
    box-sizing:content-box;
    width: 140px;
    display: inline-block;
    border: solid #e9e9e9 0.5rem;
}

.news-articles-details {
    margin: 0 0.5rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.news-articles-details h2 {
    font-weight: 400;
    margin: 0;
}

.news-article-posted {
    margin: 0;
    color:rgb(3, 145, 180);
}

.news-article-text {
    margin: 1rem 0 0 0;
}

.read-more {
    font-size: 1.1rem;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
    background: linear-gradient(#62acd3, #4681a0);
    color: white;
    cursor: pointer;
}

.news .read-more-overlay {
    position: absolute;
    display: none;
    padding: 1rem;
    margin: 0 1rem 1rem -1rem;
    max-width: 960px;
    background-color: #fff;
    z-index: 102;
} 

.news .read-more-overlay .news-article,
.news .read-more-overlay .news-articles-details {
    display: block;
    border: none;
    padding-top: 0;
}

.news .read-more-overlay .news-articles-images {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.news .read-more-overlay .news-article-image {
    width: 200px;
    float: left;
    margin-right: 1rem;
}

.news .read-more-overlay.open {
    display: block;
}

.read-more:hover {
    filter: brightness(85%);
}

.pagination {
    margin-top: 2rem;
}

.pagination button {
    width: 1.2rem;
    height: 1.2rem;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #eee;
    margin: 5px;
    transition: 0.4s;
    color: #a4a4a4;
    font-size: 0.9rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
    background-color: #c1c1c1;
}

.pagination button.active {
    background-color: #c1c1c1;
    color: #fff;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.pagination button.first-button {
    width: 6rem;
    border-radius: 0%;
}

.pagination button.first-button:hover {
    background-color: #eee;
    cursor: auto;
}

.sponsors h2 {
    text-align: center;
    font-weight: 400;
}

.sponsors-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.sponsor-image {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-wrapper {
    padding: 1rem 0;
    margin: 2rem 1rem 0 1rem;
    color: white;

}

.footer-wrapper h3 {
    color: #cfcfcf;
}

.footer-about,
.footer-flickr,
.footer-contact {
    margin-top: 2rem;
}

.footer-title {
    text-align: center;
}

.footer-flickr-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    text-align: center;
}

.flickr-image img {
    width: 5rem;
}

.contact-details {
    margin: 1.5rem 0;
    text-align: center;
}

.contact-details p,
.footer-about p {
    margin: 0.3rem;
    color: #888888;
}

@media (min-width: 768px) {
    header {
        grid-template-areas: "logo search"
                             "menu menu";
    }
   
    #hamburger-bars {
        display: none;
    }

    p,
    a,
    .item li {
        font-size: var(--fs-ipad);
    }

    h2 {
        font-size: 1.7rem;
    }

    .search {
        justify-self: right;
        margin: 1rem;
        font-size: var(--fs-ipad);
    }

    .search input {
        font-size: var(--fs-ipad)
    }

    .fas.fa-search {
        margin-top: 0.2rem;
        font-size: 1.5rem;
    }

    .main-nav {
        grid-area: menu;
        display: block;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        padding-left: 0;
        margin: 0.5rem;
        font-size: var(--fs-ipad);
        color: white;
    }

    .nav-list li {
        padding: 0 0 0 0.5rem;
        margin: 0;
        text-transform: uppercase;
        
    }

    .slider p {
        font-size: 2rem;
    }

    .mobile-nav-list li {
        font-size: 1.5rem;
    }

    .mobile-nav-list li span{
        font-size: 2rem;
    }

    .sponsors-images {
        grid-template-columns: repeat(4, 1fr);
    }

    .news {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    header {
        grid-template-areas: "logo search"
                             "logo menu";
        grid-template-columns: auto auto;
    }
    .main-logo {
        position: relative;
        width: 400px;
    }

    .search {
        max-width: 10rem;
        justify-self: right;
    }


    .search input {
        max-width: 7rem;
        font-size: var(--fs-ipad);
    }

    #logo-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0.1rem;
    }

    .slider {
        display: grid;
        grid-template-areas: "img img"
                             "text icons";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .slider #slider {
        grid-area: img;
    }

    .slider-social-icons {
        align-self: center;
    }

    .slider p {
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }

    .mobile-nav-list li {
        font-size: 2rem;
    }

    .mobile-nav-list li span{
        font-size: 3rem;
    }

    .main-nav .nav-list li {
        font-size: 1rem;
    }

    .middle {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .news {
        margin: 0;
    }

    .news-articles-images {
        padding: 2rem 0;
    }

    .news-article-image {
        width: 150px;
    }

    .news-articles-details {
        padding: 2rem 0;
    }
    .news-articles-details .read-more {
        font-size: 0.8rem;
    }

    .news .read-more-overlay {
        position: absolute;
        display: none;
        padding: 1rem;
        margin: 0;
        background-color: #fff;
        z-index: 102;
    } 

    .side-bar {
        padding-top: 1rem;  
    }

    .side-bar-items {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 2rem;
    }

    .side-bar-items .item, 
    .side-bar-items {
        align-self: flex-start;
        margin-top: 0;
    }
    
    .side-bar-items h2,
    .news-articles-details h2 {
        font-size: 1.5rem;
        align-self: flex-start;
    }

    .side-bar-items h2 {
        margin-top: 1rem;
    }

    .side-bar-items h3 {
        margin: 0.2rem 0;
        font-size: 1.2rem;
    }

    .side-bar-items p, 
    .side-bar-items li,
    .side-bar-items a,
    .news-articles-details p {
        font-size: 1.2rem;
        padding: 0;
    }

    .side-bar-items a {
        margin-top: 0;
    }

    .side-bar-items p {
        margin: 0 1rem;
    }

    .side-bar-items .item p {
        margin: 0.1rem 0;
    }

    .side-bar-items li {
        margin-top: 0;
    }

    .sponsors h2 {
        text-align: left;
    }
    
    .sponsors-images {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer-wrapper {
        display: flex;
    }

    .footer-about {
        margin-right: 1rem;
    }

    .footer-wrapper p{
        font-size: 1rem;
    }

    .footer-flickr {
        margin-right: 1rem;
    }
}